In [1]:
import numpy as np

In [2]:
np.array([1,2,3,4])

array([1, 2, 3, 4])

In [4]:
np.array([[1,2,3,4],[4,5,3,5]])

array([[1, 2, 3, 4],
       [4, 5, 3, 5]])

In [6]:
np.array([[1,2,3,4],
          [4,5]])

array([list([1, 2, 3, 4]), list([4, 5])], dtype=object)

In [10]:
x = np.array([
        [[1,2,3,4],
        [4,5,3,5]],
        [[1,2,3,4],
        [4,5,3,5]]
        ])

In [11]:
x.dtype

dtype('int32')

In [12]:
x = np.array([
        [[1,2,3.0,4],
        [4,5,3,5]],
        [[1,2,3,4],
        [4,5,3,5]]
        ])

In [13]:
x.dtype

dtype('float64')

In [29]:
x = np.array([
        [[1,2,3,4],
        [4,5,3,5]],
        [[1,2,3,4],
        [4,5,3,5]]
        ],dtype = "int32")

In [15]:
x.dtype

dtype('int32')

In [16]:
x.shape

(2, 2, 4)

In [18]:
x[0][1][0]

4

In [19]:
x.size

16

In [20]:
x.ndim

3

In [23]:
x = np.zeros((2,3), dtype = 'float32')
print(x, x.shape)

[[0. 0. 0.]
 [0. 0. 0.]] (2, 3)

In [22]:
x = np.ones((2,3), dtype = 'bool')
print(x, x.shape)

[[ True  True  True]
 [ True  True  True]] (2, 3)

In [24]:
np.zeros((3,2)) + 2

array([[2., 2.],
       [2., 2.],
       [2., 2.]])

In [25]:
np.zeros((3,2)) - 2

array([[-2., -2.],
       [-2., -2.],
       [-2., -2.]])

In [26]:
np.ones((3,2)) / 2

array([[0.5, 0.5],
       [0.5, 0.5],
       [0.5, 0.5]])

In [27]:
np.ones((3,2)) ** 2

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

In [30]:
x ** 2

array([[[ 1,  4,  9, 16],
        [16, 25,  9, 25]],

       [[ 1,  4,  9, 16],
        [16, 25,  9, 25]]], dtype=int32)

In [31]:
x = np.array([[1,2,3,4],[4,5,3,5]])

In [32]:
y = x**2

In [33]:
y

array([[ 1,  4,  9, 16],
       [16, 25,  9, 25]], dtype=int32)

In [34]:
y[0,3]

16

In [35]:
y[-1,3]

25

In [36]:
y[1,-2]

9

In [37]:
y[0,1:3]

array([4, 9], dtype=int32)

In [42]:
x = np.random.randint(low=0, high=5, size=(5,6))
x

array([[0, 2, 4, 1, 0, 3],
       [1, 0, 4, 0, 4, 4],
       [0, 4, 3, 2, 0, 4],
       [4, 4, 4, 1, 0, 4],
       [4, 4, 0, 4, 3, 4]])

In [43]:
x[2:4,2:4]

array([[3, 2],
       [4, 1]])

In [45]:
x = np.random.randint(low=0, high=5, size=(5,6,3))
x

array([[[1, 0, 4],
        [3, 1, 2],
        [4, 4, 4],
        [1, 3, 3],
        [2, 4, 1],
        [1, 0, 3]],

       [[3, 1, 4],
        [0, 2, 2],
        [2, 3, 3],
        [0, 3, 4],
        [2, 0, 1],
        [2, 2, 4]],

       [[1, 2, 1],
        [3, 4, 4],
        [4, 4, 1],
        [2, 3, 0],
        [3, 4, 2],
        [2, 1, 0]],

       [[0, 4, 3],
        [2, 1, 2],
        [0, 4, 0],
        [2, 2, 0],
        [2, 1, 4],
        [4, 2, 3]],

       [[3, 2, 1],
        [4, 3, 1],
        [0, 2, 3],
        [1, 3, 2],
        [4, 4, 0],
        [2, 4, 4]]])

In [46]:
x[0:4, 2:5, 1:].shape

(4, 3, 2)

In [50]:
x = np.random.randint(low=1, high=5, size=(2,3))
print(x)
y = np.random.randint(low=1, high=5, size=(2,3))
print(y)

[[4 1 4]
 [3 2 2]]
[[2 2 4]
 [2 1 4]]

In [51]:
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x**y)
print(x%y)

[[6 3 8]
 [5 3 6]]
[[ 2 -1  0]
 [ 1  1 -2]]
[[ 8  2 16]
 [ 6  2  8]]
[[2.  0.5 1. ]
 [1.5 2.  0.5]]
[[ 16   1 256]
 [  9   2  16]]
[[0 1 0]
 [1 0 2]]

In [52]:
print(y.dtype)
y = y.astype('float64')
print(y.dtype)

int32
float64

In [53]:
np.sin(x)

array([[-0.7568025 ,  0.84147098, -0.7568025 ],
       [ 0.14112001,  0.90929743,  0.90929743]])

In [54]:
np.exp(x)

array([[54.59815003,  2.71828183, 54.59815003],
       [20.08553692,  7.3890561 ,  7.3890561 ]])

In [55]:
np.sqrt(x)

array([[2.        , 1.        , 2.        ],
       [1.73205081, 1.41421356, 1.41421356]])

In [56]:
np.log(x)

array([[1.38629436, 0.        , 1.38629436],
       [1.09861229, 0.69314718, 0.69314718]])

In [58]:
print(x)
print(y)

[[4 1 4]
 [3 2 2]]
[[2. 2. 4.]
 [2. 1. 4.]]

In [59]:
x > y

array([[ True, False, False],
       [ True,  True, False]])

In [60]:
x == y

array([[False, False,  True],
       [False, False, False]])

In [61]:
x >= y

array([[ True, False,  True],
       [ True,  True, False]])

In [62]:
np.all(x>y)

False

In [63]:
np.where(x>y)

(array([0, 1, 1], dtype=int64), array([0, 0, 1], dtype=int64))

In [64]:
np.where(x>y,x,y)

array([[4., 2., 4.],
       [3., 2., 4.]])

In [65]:
np.nonzero(x>y)

(array([0, 1, 1], dtype=int64), array([0, 0, 1], dtype=int64))

In [66]:
np.argwhere(x>y)

array([[0, 0],
       [1, 0],
       [1, 1]], dtype=int64)

In [68]:
x = np.random.randint(1,10,(5,5))
print(x)

[[4 3 3 6 6]
 [6 4 2 8 7]
 [8 3 2 6 1]
 [2 6 4 3 3]
 [8 7 6 9 2]]

In [69]:
x.flatten()

array([4, 3, 3, 6, 6, 6, 4, 2, 8, 7, 8, 3, 2, 6, 1, 2, 6, 4, 3, 3, 8, 7,
       6, 9, 2])

In [70]:
x.shape

(5, 5)

In [71]:
# flatten logic
lst = list()
for i in range(len(x)):
    for j in range(len(x[i])):
        lst.append(x[i][j])
print(lst)

[4, 3, 3, 6, 6, 6, 4, 2, 8, 7, 8, 3, 2, 6, 1, 2, 6, 4, 3, 3, 8, 7, 6, 9, 2]

In [72]:
x.tolist()

[[4, 3, 3, 6, 6],
 [6, 4, 2, 8, 7],
 [8, 3, 2, 6, 1],
 [2, 6, 4, 3, 3],
 [8, 7, 6, 9, 2]]

In [75]:
z = x.flatten()
print(z)

[4 3 3 6 6 6 4 2 8 7 8 3 2 6 1 2 6 4 3 3 8 7 6 9 2]

In [77]:
z.reshape(5,5)

array([[4, 3, 3, 6, 6],
       [6, 4, 2, 8, 7],
       [8, 3, 2, 6, 1],
       [2, 6, 4, 3, 3],
       [8, 7, 6, 9, 2]])

In [80]:
def sample():
    for i in range(10):
        y = i

In [81]:
%timeit sample()

548 ns ± 104 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)